<div class="container">
  <div class="card">
    <form class="card-body" action="/users/edit" method="post">
      <label class="form-text" for="nome">Nome</label>
      <input id="nome" class="form-control" type="text" name="nome" value="{{user.nome}}" required>
      <label class="form-text" for="email">E-mail</label>
      <input type="email" name="email" class="form-control" value="{{user.email}}" required>
      <label class="form-text" for="senha">Senha</label>
      <input class="form-control" type="password" name="senha" required>
      <input type="hidden" name="id" value="{{user._id}}">
      <button class="btn btn-success" type="submit" name="button">Salvar</button>
    </form>
  </div>
</div>
