<div class="container">
  <div class="card">
    <div style="margin: 20px" class="card card-body">
      <p class="card-body">Este código vai estar disponível no <a href="https://github.com/MarcoLopes389/exemplo-de-cadastro">GitHub</a></p>
      <p class="card-body">Clique no botão abaixo para se cadastrar</p>
      <hr>
      <a href="/cadastro"><button class="btn btn-success" type="button" name="button">Cadastrar</button></a>
    </div>
  </div>
</div>
