<div class="container">
  <div class="card">
    <form class="card-body" action="/entrar" method="post">
      <label class="form-text" for="nome">Nome</label>
      <input id="nome" class="form-control" type="text" name="nome" required>
      <label class="form-text" for="email">E-mail</label>
      <input type="email" name="email" class="form-control" required>
      <label class="form-text" for="senha">Senha</label>
      <input class="form-control" type="password" name="senha" required>
      <button class="btn btn-success" type="submit" name="button">Cadastrar-se</button>
    </form>
  </div>
</div>
