<div class="container">
  <div class="card">
    <div class="card card-body">
      {{#if user}}
      <p>Nome: {{user.nome}}</p>
      <p>E-mail: {{user.email}}</p>
      <p class="alert alert-info">{{#admin user.eAdmin}}{{/admin}}</p>
      <a href="/users/edit"> <button class="btn btn-warning" type="button" name="button">Editar perfil</button> </a>
      {{else}}
      <p>Você não está cadastrado</p>
      {{/if}}
    </div>
  </div>
</div>
